# General
SECRET_KEY=KEEP-IN-SECRET-PLACE
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://db-user:db-password@db-host:5432/db-name

# Optional
DEBUG=False
ADMIN_URL=admin/
SITE_URL=/
DB_CONN_MAX_AGE=0
DB_CONN_HEALTH_CHECKS=True

# Feature flags
# Enable HTTPS redirect and secure cookies (set True in production)
FORCE_HTTPS=False
